body {
    background-color: #EEF1FF;
    margin: 0;
}
.container {
    width: 300px;
    height: 500px;
    background-color: white;
    margin: 5% auto;
    padding: 15px;
    text-align: center;
    border: solid white 1px;
    border-radius: 25px;
    box-shadow: 3px 10px 5px #f1efef;
}
.qr-code {
    width: 300px;
    border: solid white 1px;
    border-radius: 5%;

}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 10%;
    
}
p {
    width: 90%;
    text-align: center;
    margin-left: 5%;
    opacity: 50%;
    font-family: 'Open Sans', sans-serif;
}
.attribution {
    background-color: #BAD1C2;
    text-align: center;
    padding: 1%;
}